@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  max-height: max-content;
}

  /*logo image*/
  #avatar {
    max-height: 250px;
    border-radius: 300px;
  }


body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: #F4F1DE;
}

#adopt-dog {
  max-height: 300px;
  border-radius: 300px;
  }
  
  #card1 {
    display: flex;
    margin-top: 40%;
    width: fit-content;
    height: fit-content;
    border-radius: 300px;
    box-shadow: 15px 15px 15px #0A9396;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px; /* Set the maximum width to your preferred value */
  }
  
  #card-container {
    padding-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1400px; /* Set the maximum width to your preferred value */
  }

  #card-body {
    margin-top: 6%;
    background-color: #0a9496ad;
    border-radius: 8px;
    border-color: #E07A5F;
  }


  #btn {
    width: 150px;
    background: #E07A5F;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 9px #e07b5f92;
    font-weight: 600;
    margin-bottom: 30px;
  }

  #btn:hover {background-color: #0A9396}

  #btn:active {
  background-color: #E07A5F;
  box-shadow: 0 5px #e07b5f92;
  transform: translateY(4px);
}
  
  #card-text {
    display: flex;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    color:#3D405B;
    padding-left: 5%;
  }

  #logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-weight: 300;
    font-size: 30pt;
    color:#E07A5F;
    padding-left: 5%;
  }

  #card-title {
    display: flex;
    padding-top: 8%;
    margin-left: 75%;
    font-family: 'Hind Madurai', sans-serif;
    color: #3D405B;
  }

    #img-container {
      padding-top: 5%;
      width: fit-content;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 1200px; /* Set the maximum width to your preferred value */
    }

    #big-logo {
      width: fit-content;
      height: fit-content;
      box-shadow: 2px 2px 8px 8px #3D405B;
    }

    h1, h2 {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    
  /*sign up and login container*/
  .container {
    width: 80%;
    max-width: 1200px;
    margin-left: 8%;
    padding-top: 5%;
    font-family: 'Hind Madurai', sans-serif;
  }
 
  /*sign up and login entries*/
  .mt-5 {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 80px;
  }

  #footer {
    background-color: #0A9396;
    display: flex; 
    font-family: 'Bebas Neue', cursive;
    color:#3D405B;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px; 
  }
