@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma&display=swap');


* {
  box-sizing: border-box;
}

html,
body {
  max-height: max-content;
}

p {
  font-family: 'Delius Unicase', cursive;
  font-size: 30px;
}

#nav-logo {
  position: relative;
  padding-left: 1%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: #F4F1DE;
  font-family: Oswald, sans-serif;
}

#adopt-dog {
  max-height: 300px;
  border-radius: 300px;
  }
  
#card1 {
  max-height: 300px;
  border-radius: 300px;
}


#avatar {
  max-height: 150px;
  border-radius: 300px;
  }

  contact-form {
    width: 40%;
  }

  .container {
    width: 80%;
    max-width: 1200px;
    margin-left: 5%;
  }
 

  button {
    background: #E07A5F;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 10px 15px;	
  }
