@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');


* {
  box-sizing: border-box;
}

html,
body {
  max-height: max-content;
}

p {
  font-family: 'Delius Unicase', cursive;
  font-size: 30px;
}

#nav-logo {
  display: inline-flex;
  width: 100px;
  height: 150px;
  border-radius: 300px;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: #F4F1DE;
  font-family: Oswald, sans-serif;
}
  
#card1 {
  display: flex;
  margin-left: 40%;
  margin-top: 40%;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  box-shadow: 15px 15px 15px #0A9396;
}

#card-container {
  padding-top: 8%;
  justify-content: center;
  justify-items: center;
}

#card-text {
  display: flex;
  margin-left: 75%;
  font-family: 'Hind Madurai', sans-serif;
}

#adopt-me-btn {
  background: #E07A5F;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 10px 15px;	
}


  contact-form {
    width: 40%;
  }

  .container {
    width: 80%;
    max-width: 1200px;
    margin-left: 5%;
  }
 

  button {
    background: #E07A5F;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 10px 15px;	
  }
